@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  /* background: linear-gradient(
      to top,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.dots {
  background-image: radial-gradient(
    circle,
    currentColor 0.5px,
    transparent 0.5px
  );
  background-size: 0.75rem 0.75rem;
}

@layer utilities {
  button {
    @apply hover:bg-gray-50;
  }
}

.background-gradient-pattern {
  background-image: radial-gradient(#a4a4a3, transparent 50%);
}
